*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #cecccc;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.menu-pagina{
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 30px;
}

.conteudo{
    border-top: 0.2px solid #1A1A1A;
    margin-bottom: 50px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-img{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    gap: 20px;
}


#container{
    background-color: #ffffff;
    padding: 50px;
    width: 50%;
    margin: 200px;
    box-shadow: 5px 5px 5px rgba(155, 162, 216, 0.4);
    border-radius: 10px;
    flex-wrap: wrap;
}
.block{
    display: block;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
}

input {
    width: 70%;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #a5a3a3;
    padding: 15px 70px;
}

label {
    width: 30%;
    margin-right: 300px;
    font-size: 22px;
    font-weight: bold;
}

button.cadastrar {
    background-color: #002be9;
    color: white;
    border: none;
}

button.limpar {
    background-color: #9ba733;
    color: white;
    border: none;
    width: 100px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
    flex-grow: 1;
}

button {
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 16px;
}



