*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #cecccc;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.menu-pagina{
    font-family: Arial, Helvetica, sans-serif;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 30px;
}

.conteudo{
    border-top: 0.2px solid #1A1A1A;
    margin-bottom: 50px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 30px;
  }

.comprar {
    background-color: #070707;
    color: rgb(243, 234, 234);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.comprar:hover{
    background:#53a7ea; 
}

  
.conteudo-principal-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

.conteudo-principal-img img {
    max-width: 100%;
    height: auto;
  }


#container{
    background-color: #ffffff;
    padding: 50px;
    width: 50%;
    margin: 200px;
    box-shadow: 5px 5px 5px rgba(155, 162, 216, 0.4);
    border-radius: 10px;
    flex-wrap: wrap;
}
.block{
    display: block;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
}

input {
    width: 70%;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #a5a3a3;
    padding: 15px 70px;
}

label {
    width: 30%;
    margin-right: 300px;
    font-size: 22px;
    font-weight: bold;
}

.cadastrar {
    background-color: #070707;
    color: rgb(243, 234, 234);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.limpar {
    background-color: #070707;
    color: rgb(243, 234, 234);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-enviar {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
    flex-grow: 1;
}

.cadastrar:hover{
    background:#53a7ea; 
}

.limpar:hover{
    background:#53a7ea; 
}

button {
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 16px;
}



